:root{
    /* ------- Primary color ------------- */
    --Dark__cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    /* --------- Neutral color ----------- */
    --Very__dark__blue: hsl(212, 21%, 14%);
    --Dark__grayish__blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --button__hover:hsla(157, 43%, 18%, 1);

    /* ---------- Typography -------------- */
    --fSize : 1.4rem; 
    --fFamily__Fraunces: 'Fraunces', serif;
    --fFamily__Montserrat: 'Montserrat', sans-serif;


}
/* ------------- general ----------------- */

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

p,
h1,
h2,
span,
body{
    margin: 0;
    padding: 0; 
}

body{
  background-color: var(--Cream);
  width: 375px;
}
s {
  position: relative;

  &::before,
  &::after {
    @extend .visually-hidden;
  }
}

s::before {
  content: ' ';
}
s::after {
  content: ' ';
}

/* --------------- Main content -------------- */
.product__card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--White);
  width: 345px;
  margin-bottom: 10px;
  
}

.image__card  img{
  height: 240px;
  width: 345px;
  
}

.text__card{
  margin: 24px;
  width: 295px;
}

.text__card hgroup p {
  color: var(--Dark__grayish__blue);
  font-size: 1.2rem;
  font-family: var(--fFamily__Montserrat);
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 0;
}

hgroup h2 {
  color: var(--Very__dark__blue);
  font-family: var(--fFamily__Fraunces);
  font-size: 3.2rem;
  font-weight: 700;
  margin-top:12px;
  margin-bottom: 16px;
  line-height: 32px; 
}

.text__card p{
  color:var(--Dark__grayish__blue);
  font-family: var(--fFamily__Montserrat);
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 24px;
}

.text__card p span {
  color: var(--Dark__cyan);
  font-family: var(--fFamily__Fraunces);
  font-size: 3.2rem;
  font-weight: 700;
  
}

.text__card  p  s{
    vertical-align: super;
    font-size: 1.3rem;
    margin-left: 10px;

}

button {
  font-weight: 700;
  font-family: var(--fFamily__Montserrat);
  font-size: 1.4rem;
  color: var(--White);
  background-color: var(--Dark__cyan);
  border: none;
  width: 295px;
  padding: 18px;
  border-radius: 8px;
}

button:hover{
  background-color: var(--button__hover);
}

button img{
  width: 14.385px;
  height: 16px;
  margin-right: 5px;
}
.attribution{
    text-align: center;
    font-size: 1.2rem;
    color: var(--Dark__grayish__blue);
}

/* ------------------ media querry ------------------ */
@media (min-width:23.4em){
  body{
    margin: 175px auto;
  }
  .product__card{
    flex-direction: row;
    border-radius: 8px ;
    width: 600px;
  }

  .image__card  img{
    height: 450px;
    width: 335px;
  }
  .text__card{
    /* margin:  16px 32px; */
    margin-top: 0px;
    width: 236px;
  }

  button{
    width: 236px;
    margin: 0px;
  }

 
}